<h1>Contact information</h1>
<p>Our team specialize in responsive websites and mobile apps for content, community, commerce and culture</p>
<section>
  <%= image_tag 'mail.ico', {:style => 'width: 50px; height: 50px; margin-right: 5px; margin-bottom:10px;'} %>
  <%= mail_to 'kovalenkoalena789@gmail.com', 'kovalenkoalena789@gmail.com' %>
</section>
<section>
  <%= image_tag 'phone.ico', {:style => 'width: 50px; height: 50px; margin-right: 5px;'} %>
  +375 (29) 897-00-63
</section>
