<h1>Contact information</h1>
<p>Our team specialize in responsive websites and mobile apps for content, community, commerce and culture</p>
<section>
  <b>E-mail: </b><%= mail_to 'kovalenkoalena789@gmail.com', 'kovalenkoalena789@gmail.com' %>
</section>
<section>
  <b>Phone: </b>+375 (29) 897-00-63
</section>
